<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>Cadastro | Carolina Ramos Bertolino</title>
</head>

<body>
    <header class="header">
        <div class="menu">
            <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo">
            <ul>
                <li>
                    <a href="../index.html">INICÍO</a>
                </li>
                <li>
                    <a href="">AGENDAMENTO</a>
                </li>
                <li>
                    <a class="selected" href="pages/artigos.html">ARTIGOS</a>
                </li>
                <li>
                    <a href="pages/contato.php">CONTATO</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>{{ erro }}</h3>
                <h3>Cadastre-se</h3>
                <div class="form">
                    <form action="/cadastro" method="POST">
                        <input type="text" name="nome" placeholder="Digite seu nome *" required autocomplete="off">
                        <input type="text" name="CPF" pattern="[0-9]+$" maxlength="11" placeholder="Digite seu CPF *" required autocomplete="off">
                        <select name="sexo">
                            <option value="" disabled selected>Selecione seu sexo</option>
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                            <option value="outros">Outros</option>
                        </select>
                        <input type="date" name="nascimento" placeholder="Insira sua data de nascimento">
                        <input type="text" name="endereco" placeholder="Digite seu endereço" autocomplete="off">
                        <input type="text" pattern="[0-9]+$" maxlength="8" name="CEP" placeholder="Digite seu CEP *" required autocomplete="off">
                        <input type="text" name="complemento" placeholder="Complemento" autocomplete="off">
                        <input type="text" pattern="[0-9]+$" maxlength="11" name="telefone" placeholder="Digite seu DDD + telefone *" required autocomplete="off">
                        <input type="email" name="email" placeholder="Digite seu email *" required autocomplete="off">
                        <input type="password" name="password" placeholder="Digite sua senha *" required>
                        <input type="password" name="passwordConfirm" placeholder="Confirme sua senha *" required>
                        <button type="submit">Entrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="rodapeEnd">
                <article>
                    <p>Rua Coronel Agenor de Camargo, 81<br> Centro - Santo André, SP<br> (11) 98492-0089<br> example@example.com.br
                    </p>
                </article>
                <article class="rodapeRede">
                    <a href="https://www.f.com/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/facebooklogo.png')}}" alt="facebook logo">
                    </a>
                    <a href="https://www.i.com" target="_blank">
                        <img src="{{url_for('static', filename='imgs/instagramlogo.png')}}" alt="instagram logo">
                    </a>
                    <a href="https://www.linkedin.com/in/carolina-bertolino-68aa373b/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/linkedin.png')}}" alt="linkedin logo">
                    </a>
                    <a href="https://wa.me/+5511984920089" target="_blank">
                        <img src="{{url_for('static', filename='imgs/whatsapplogo.png')}}" alt="whatsapp logo">
                    </a>
                </article>
            </div>
            <div class="copy">
                <p>Copyright &copy; 2021 Carolina Ramos Bertolino</p>
            </div>
        </div>
    </footer>

</body>

</html>