<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>Agendamentos | Carolina Ramos Bertolino </title>
</head>

<body>
    <header class="header">
        <div class="menu">
            <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo">
            <ul>
                <li>
                    <a href="../index.html">INICÍO</a>
                </li>
                <li>
                    <a href="">AGENDAMENTO</a>
                </li>
                <li>
                    <a class="selected" href="pages/artigos.html">ARTIGOS</a>
                </li>
                <li>
                    <a href="pages/contato.php">CONTATO</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="title">BEM-VINDA CAROLINA BERTOLINO</h3>
                <div class="itens">
                    <div class="item">
                        <h3>Pacientes</h3>
                        <img src="../static/imgs/paciente.svg" alt="">
                    </div>
                    <div class="item">
                        <H3>Consultas</H3>
                        <img src="../static/imgs/simbolo-da-psicologia.svg" alt="">
                    </div>
                    <div class="item">
                        <H3>Financeiro

                        </H3>
                        <img src="../static/imgs/cobrancas.svg" alt="">
                    </div>
                    <div class="item">
                        <H3>Mensagens

                        </H3>
                        <img src="../static/imgs/mensagem.svg" alt="">
                    </div>
                    <div class="item">
                        <h3>Agenda</h3>
                        <img src="../static/imgs/calendario.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="rodapeEnd">
                <article>
                    <p>Rua Coronel Agenor de Camargo, 81<br> Centro - Santo André, SP<br> (11) 98492-0089<br> example@example.com.br
                    </p>
                </article>
                <article class="rodapeRede">
                    <a href="https://www.f.com/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/facebooklogo.png')}}" alt="facebook logo">
                    </a>
                    <a href="https://www.i.com" target="_blank">
                        <img src="{{url_for('static', filename='imgs/instagramlogo.png')}}" alt="instagram logo">
                    </a>
                    <a href="https://www.linkedin.com/in/carolina-bertolino-68aa373b/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/linkedin.png')}}" alt="linkedin logo">
                    </a>
                    <a href="https://wa.me/+5511984920089" target="_blank">
                        <img src="{{url_for('static', filename='imgs/whatsapplogo.png')}}" alt="whatsapp logo">
                    </a>
                </article>
            </div>
            <div class="copy">
                <p>Copyright &copy; 2021 Carolina Ramos Bertolino</p>
            </div>
        </div>
    </footer>

</body>

</html>