<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>Login | Carolina Ramos Bertolino</title>
</head>

<body>
    <header class="header">
        <div class="menu">
            <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo">
        </div>
    </header>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>{{ erro }}</h3>
                <h3>{{ mensagem }}</h3>
                <h3>Acessar sua conta</h3>
                <div class="form">
                    <form action="/", method="POST">
                        <input type="text" name="user" placeholder="Digite seu usuario" autocomplete="off">
                        <input type="password" name="pass" placeholder="Digite sua senha" autocomplete="off">
                        <button type="submit">Entrar</button>
                        <p>
                            <a href="http://127.0.0.1:5000/cadastro">
                                Fazer o cadastro
                            </a><br>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="rodapeEnd">
                <article>
                    <p>Rua Coronel Agenor de Camargo, 81<br> Centro - Santo André, SP<br> (11) 98492-0089<br>
                        example@example.com.br
                    </p>
                </article>
                <article class="rodapeRede">
                    <a href="https://www.f.com/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/facebooklogo.png')}}" alt="facebook logo">
                    </a>
                    <a href="https://www.i.com" target="_blank">
                        <img src="{{url_for('static', filename='imgs/instagramlogo.png')}}" alt="instagram logo">
                    </a>
                    <a href="https://www.linkedin.com/in/carolina-bertolino-68aa373b/" target="_blank">
                        <img src="{{url_for('static', filename='imgs/linkedin.png')}}" alt="linkedin logo">
                    </a>
                    <a href="https://wa.me/+5511984920089" target="_blank">
                        <img src="{{url_for('static', filename='imgs/whatsapplogo.png')}}" alt="whatsapp logo">
                    </a>
                </article>
            </div>
            <div class="copy">
                <p>Copyright &copy; 2021 Carolina Ramos Bertolino</p>
            </div>
        </div>
    </footer>

</body>

</html>