body {
    background-color: #f1e8e3 !important;
}

header, footer {
    background-color: #6388ba;
}

header ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
}

header ul a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.mobile {
    justify-content: space-between;
}

.bars {
    cursor: pointer;
    padding: 15% 5%;
    width: 35vw;
    height: 30vw;
}

.bars .bar {
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 50px;
    width: 80%;
    height: 15%;
    background-color: white;
}

.menu-mobile {
    background-color: #6388ba;
    width: 70vw !important;
    height: 100vh;
    transition: 0.3s left ease-in-out;
    position: absolute;
}

.menu-mobile ul {
    display: block;
}

.menu-mobile ul li {
    margin-top: 30%;
}

header ul a:hover {
    transition: 0.3s ease-in-out;
    font-weight: bold;
    color: white;
}

footer p {
    margin: 1rem 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

footer a {
    margin: 1rem 0;
}

.artigos {
    margin: 2% 0;
}

.artigo {
    box-shadow: 0rem 0rem 1rem rgb(209, 209, 209);
    border: none;
    border-radius: 20px;
    margin: 2.5% 0;
    background-color: white;
}

.artigo img {
    border-radius: 100px;
    margin: 3% 0;
}

.artigo p {
    margin: 2.5% 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

.artigo a {
    color: #6388ba;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.artigo h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
}

.artigo-conteudo {
    margin-top: 2.5%;
}

.artigos h1{
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
}

.artigo-conteudo h4{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
}

.artigo-conteudo .voltar{
    margin-top: 2%;
    padding: 2.5%;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    background-color: #6388ba;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}