body {
    background-color: #f1e8e3;
}

header, footer {
    background-color: #6388ba;
}

h3 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

h4 {
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
}

label {
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

input, select {
    box-shadow: 0rem 0rem 1rem rgb(209, 209, 209);
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
}

input:focus {
    border: 0 none;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.input {
    margin: 0.5rem 0;
}

button {
    font-family: "Montserrat", sans-serif;
    background-color: #6388ba;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
}

section {
    min-height: 62vh;
    margin: 2rem 0;
}

section a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

footer p {
    margin: 1rem 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.span {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: italic;
}

footer a {
    margin: 1rem 0;
}

table, th, td {
    border: none;
}

th {
    background-color: #6388ba;
}

table {
    box-shadow: 0rem 0rem 1rem rgb(209, 209, 209);
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: white;
}

td p {
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
    font-size: 1.1rem;
}

.erro {
    color: red;
}
