<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/artigos.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>Efeitos do confinamento: como superar as consequências do Coronavírus? | Carolina Ramos Bertolino</title>
</head>
<body>


    <!-- MENU -->
    <header class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-4 col-sm-3 col-lg-2 col-xl-1">
                        <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>
        <!-- SOBRE A PSICÓLOGA -->
        <section class="container-fluid artigo-conteudo">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-6 artigo">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="row justify-content-center">
                                <img src="{{url_for('static', filename='imgs/artigo1.jpg')}}" alt="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="col-11 text-center">Efeitos do confinamento: como superar as consequências do Coronavírus?</h3>
                        <p class="col-11">Segundo vários estudos em colaboração com universidades importantes do nosso país, a angústia da população aumentou 46% como resultado da crise de saúde e econômica vivida pelo confinamento e pelo Coronavírus. Há diversos indicadores de que as consequências psicológicas do confinamento e do Covid-19 serão muito mais duradouras do que a doença contra a qual estamos lutando.<br><br>
                            O medo provocado pelo Coronavírus não só nos faz atuar de uma maneira que nos prejudica, como mostramos neste artigo. Há também uma ampla variedade de exemplos de que existem mais sequelas do confinamento e deste vírus do que parecia à primeira vista. Apesar de toda a onda de pessimismo, é vital tentar manter uma postura positiva, tanto psicológica como profissionalmente.</p>

                        <h4 class="col-11">Efeitos psicológicos do confinamento</h4>
                        <p class="col-11">Uma das consequências do confinamento que pudemos ver nas redes sociais, nas notícias e, inclusive, na nossa própria pele, são os efeitos psicológicos vividos em função dessa situação. Há casos em que essas sequelas do confinamento acabam não sendo detectadas, nem pelas pessoas mais próximas daquelas que sofrem com o problema. Ainda assim, há estudos que demonstram que aumentaram os casos de algumas das patologias psicológicas próprias da solidão e do isolamento, sobretudo, em jovens e em mulheres. Podemos resumir assim os principais efeitos psicológicos do confinamento:</p>

                        <h4 class="col-11">1. Sentimento de irrealidade</h4>
                        <p class="col-11">Apesar de que pensar que o que está acontecendo é irreal e estranho seja uma sensação compreensível por causa dos efeitos do confinamento, a verdade é que sentir essa alteração momentânea da percepção de forma recorrente pode gerar certas sequelas. O sintoma mais comum é se sentir desconectado de tudo o que está a sua volta, tanto dos objetos, como do entorno. Os sintomas percebidos em um sentimento de irrealidade são, principalmente:<br><br>
                        - Sentir que está dentro de um filme ou de um sonho<br>
                        - Perceber que está desconectado emocionalmente dos demais<br>
                        - Mudar a percepção do tempo e do entorno (senti-los mais distorcidos)<br>
                        - Nos casos mais extremos, essa percepção pode provocar um ataque de pânico.</p> 

                        <h4 class="col-11">2. Ansiedade pelo confinamento</h4>
                        <p class="col-11">A ansiedade é um dos problemas psicológicos mais comuns na nossa sociedade atualmente. Tanto que durante o confinamento, mais de 65% da população teve ansiedade. Os efeitos psicológicos experimentados durante esses dias são os seguintes:<br><br>
                        - Pensamentos negativos e ameaçadores<br>
                        - Preocupação em excesso<br>
                        - Sentimento de inferioridade<br>
                        - Sensação iminente de morte<br><br>
                        Há muitas outras complicações relacionadas à ansiedade.</p>

                        <h4 class="col-11">3. Medo de ter a doença ou de perder os entes queridos</h4>
                        <p class="col-11">O medo é a sensação de perder o controle, já que saímos da nossa zona de conforto ou de um lugar em que nos encontramos completamente seguros. Mas no caso do confinamento é bem diferente, o medo surge devido a um sentimento de falta de controle e de instabilidade. Por causa dele, podemos chegar a nos sentir mentalmente desestabilizados em muitos aspectos das nossas vidas.</p>

                        <h4 class="col-11">4. Depressão e pessimismo</h4>
                        <p class="col-11">Outro dos efeitos psicológicos do confinamento e do Coronavírus é que nossa mentalidade se tornou muito mais pessimista. Isso acontece não só porque passamos mais horas fechados em casa, mas também como consequência de um entorno cheio de más notícias e da insatabilidade econômica do país. Acabar com a mente cheia de pensamentos recorrentes e de negatividade pode levar ao aparecimento de uma depressão. Você pode ler mais sobre seus efeitos neste artigo para saber se esse é o seu caso.</p>

                        <h4 class="col-11">5. Irritação e raiva</h4>
                        <p class="col-11">Uma situação injusta pode fazer com que a gente se sinta irritado e bravo com o mundo. Ainda que a ira seja uma reação natural do ser humano, quando muito intensa e recorrente, pode chegar a ser preocupante. Não apenas pelos efeitos psicológicos que ela tem sobre você, mas também no seu entorno. Além disso, esse tipo de sentimento pode favorecer a intolerância ao stress e a tendência à frustração, fazendo com que essas emoções sejam um círculo vicioso.</p>
                        <p class="col-11">Em todos esses casos, é imprescindível tomar o controle das suas emoções e sentimentos para não sofrer mais com as consequências psicológicas no confinamento. Você sempre pode contar com a ajuda de um profissional da saúde mental via online para sair imune e fortalecido dessa situação.</p>

                        <h4 class="col-11">Como superar o confinamento?</h4>
                        <p class="col-11">Mesmo vendo todos os sintomas do confinamento, você deve saber que é possível sair fortalecido da crise gerada pelo Coronavírus. Tanto que, apesar de todas as consequências do confinamento, existem algumas habilidades psicológicas que podem nos ajudar a superar esses momentos. Para isso, contamos com a ajuda do psicólogo Joan Ramón Soto Cifuentes.</p>

                        <h4 class="col-11">1. Como podemos enfrentar melhor uma situação difícil por causa da pandemia?</h4>
                        <p class="col-11">As consequências da pandemia são inúmeras, a começar pelo impacto no serviço de saúde, a falta de recursos e profissionais qualificados, as demissões que afetaram incontáveis famílias… Tudo isso repercute no estado psicológico e emocional, abrindo as portas para o surgimento de quadros de ansiedade, depressão, baixa autoestima e fobias extremas ao contágio, medo de sair de casa, pensamentos obsessivos… A seguir, explico em detalhe alguns recursos que podem ser úteis na hora de combater esse tipo de problema:</p>

                        <h4 class="col-11">° Identifique os pensamentos automáticos e repetitivos</h4>
                        <p class="col-11">Identificar os pensamentos automáticos que nos angustiam e passar à ação. Me foco na respiração e no presente, da forma mais consciente e precisa possível, tratando de buscar sempre o lado positivo das coisas, pois por pior que seja a situação, ele existe. Procure!</p>

                        <h4 class="col-11">° Adapte-se</h4>
                        <p class="col-11">Você não é a única pessoa afetada, evite se castigar e flagelar. Se você pode mudar a situação, faça-o, mas sem ficar se queixando, para não entrar em um círculo-vicioso negativo. Crie novas rotinas, faça planos e não se acomode. Saia da zona de conforto, mesmo que, inicialmente, seja incômodo ou doloroso. Renascer das cinzas, se você chegou ao fundo do poço, deve ser o seu objetivo.</p>

                        <h4 class="col-11">° Aproveite o tempo</h4>
                        <p class="col-11">Aprenda a se colocar no lugar dos demais, deixe de se centrar unicamente em você, aproveite para se relacionar mais e melhor com o seu parceiro/a, filhos, familiares. Compartilhe com os seus amigos, não se isole. Conecte-se à internet, ligue para conhecidos, dedique tempo a estudar e aprender algo que você considera interessante, reinvente-se, cuide da sua alimentação…</p>

                        <h4 class="col-11">° Aceite a situação</h4>
                        <p class="col-11">Todos e cada um de nós vivemos esse momento como podemos. Tente se tranquilizar, aprenda a meditar e aceite as dificuldades e limitações que te afetam nesse momento.</p>

                        <h4 class="col-11">2. O que fazer se há um ambiente familiar nocivo durante o confinamento?</h4>
                        <p class="col-11">É bastante provável que durante o confinamento se intensifiquem os desencontros e as discussões, criando um clima ruim no núcleo familiar, marcado por mudanças de humor, já que, de uma forma ou de outra, todos estão afetados emocionalmente pelas mudanças impostas pela pandemia. Estamos sendo bombardeados por um excesso de informação e por fake news há meses, e em alguns momentos é quase insuportável. Porém, considerando que a pandemia está afetando todo o mundo, não deixe de pensar na sorte que tem por estar lendo este artigo agora mesmo, pois há milhões de pessoas que neste momento não conseguem ter acesso nem ao indispensável para viver. Cuide das suas coisas, das pessoas que fazem parte do seu círculo íntimo, valorize e honre quem você é, onde você está.</p>

                        <h4 class="col-11">3. Como é possível se proteger das consequências psicológicas do confinamento?</h4>
                        <p class="col-11">A melhor forma de se proteger diante de uma situação tão caótica, e que nos afeta emocionalmente e psicologicamente, passa por assimilar o que está acontecendo, tentar colocá-lo num contexto em que a aceitação e a proteção emocional sejam uma prioridade.</p>

                        <h4 class="col-11">4. Como lidar com a perda e o luto neste momento?</h4>
                        <p class="col-11">A realidade atual é implacável e nos obriga a passar por uma série de etapas de dor e sofrimento, provocadas pela perda afetiva, emocional ou pela perda física de uma pessoa querida. A mente não costuma diferenciar quando sentir dor, se esse sofrimento se refere à perda real de uma pessoa querida ou se ao luto provocado por uma separação, por exemplo. Em todos estes casos, há um intenso sofrimento emocional, e uma reação de negação que se arrasta pelos primeiros dias; que depois vem seguida pela tristeza, desorientação, raiva e, finalmente, culpa; e, à medida que vamos passando por essas etapas do processo de luto vamos recuperando nossa estabilidade emocional.</p>
                        <p class="col-11">Lidar com o luto nos permite entrar numa fase de crescimento, reforçar nossa estrutura psíquica e emocional, o que nos oferece mais recursos para lidar com outras situações delicadas que irão surgir ao longo da vida.</p>

                        <h4 class="col-11">5. Como conseguir se beneficiar do confinamento e da situação atual?</h4>
                        <p class="col-11">Diante das dificuldades, ser resiliente e conseguir fazer projeções de futuro com positivismo é o que vai mudar a nossa vida, ou parte importante dela. Esta atitude é o que consegue marcar um antes e um depois em determinadas situações.</p>
                        <p class="col-11">Se sou capaz de enfrentar as dificuldades de peito aberto, sem fugir da realidade, se sou capaz de focar naquilo que quero alcançar, respeitando e aceitando as normas sociais e sanitárias, em pouco tempo serei capaz de encontrar algo de paz e alívio, e isso significa que algo mudou em mim.
                            Apesar das sequelas do confinamento, a capacidade de se adaptar a novas situações e aprender das experiências é o que permite progredir em diversos aspectos..</p>


                        <a href="/artigos/0" class="voltar col-12 text-center">VOLTAR PARA ARTIGOS</a>
                    </div>
                </div>
            </div>

            
            </div>
        </section>

    </main>

    <footer class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <p>Rua Coronel Agenor de Camargo, 81 - 09020-220<br> 
                    Centro - Santo André, SP<br> 
                    (11) 98492-0089<br>                    
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <p><small>Copyright &copy; 2021 Carolina Ramos Bertolino</small></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>