<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/artigos.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>As consequências psicológicas de stalkear nas redes sociais | Carolina Ramos Bertolino</title>
</head>
<body>


    <!-- MENU -->
    <header class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-4 col-sm-3 col-lg-2 col-xl-1">
                        <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>
        <!-- SOBRE A PSICÓLOGA -->
        <section class="container-fluid artigo-conteudo">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-6 artigo">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="row justify-content-center">
                                <img src="{{url_for('static', filename='imgs/artigo4.jpg')}}" alt="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="col-11 text-center">As consequências psicológicas de stalkear nas redes sociais</h3>
                        <p class="col-11">O surgimento das redes sociais mudou drasticamente o nosso comportamento, a forma como vemos o mundo e como nos comunicamos. Taambém gerou uma revolução nas nossas relações interpessoais e amorosas. </p>
                        <p class="col-11">Quando o Instagram e as redes sociais não existiam, encontrar na internet uma foto da pessoa que você estava apaixonada era missão praticamente impossível. Mas o avanço tecnológico mudou esse cenário. Se escrevemos o nome de alguém em páginas como o Facebook, Twitter ou Google, em poucos segundo podemos saber com o que a pessoa trabalha, seus hobbies, as viagens que fez, quem são seus amigos, se está ou não solteiro, etc. </p>
                        <p class="col-11">Assim, o acesso rápido, fácil e anônimo à informação converteu todos nós em stalkers.</p>

                        <h4 class="col-11">O que é um stalker?</h4>
                        <p class="col-11">A palavra stalker vem do termo em inglês stalking. O stalking é uma forma de assédio que significa perseguir o outro onde quer que ele vá para estabelecer algum tipo de contato ou relação. Hoje em dia, a palavra stalker é utilizada para definir uma pessoa que usa a internet, principalmente as redes sociais, para vigiar ou espiar a vida allheia.  </p>
                        <p class="col-11">No entanto, embora seja algo natural, devemos tomar um pouco de cuidado com esse hábito. Muitas vezes, o que começa como uma curiosidade inofensiva ou algo divertido pode virar uma obsessão e um vício. O problema começa quando a pessoa passa a acreditar em tudo o que vê nas redes sociais e deixa de viver a vida real para viver a vida virtual do outro. </p>
                        <p class="col-11">Alguns indícios nos ajudam a detectar se estamos passando os limites saudáveis do uso das redes sociais. Os principais são: <br><br>
                        - Deixar de lado compromissos e tarefas importantes: deixar de realizar as suas prórpias atividades para acompanhar virtualmente o que o outro está fazendo.<br><br>
                        - Passar muito tempo espiando a vida da outra pessoa: os stalkers passam muitas horas supervisionando a atividade online do outro (o que posta, quem começa a seguir, quantos likes ganha e de quem, etc.).<br><br>
                        - Sentir ansiedade quando não está nas redes sociais: a vida real perde o sentido. Quando não está buscando algo sobre o seu alvo de interesse, sente muita ansiedade. Nada tem graça.<br><br>
                        - Ações repetidas: entra mil vezes nas redes sociais da outra pessoa e sente uma grande decepção quando não encontra nenhuma atualização.<br><br>
                        - Dificuldade para concentrar-se em outras tarefas: o stalker não consegue, por exemplo, se concentrar no trabalho e ser produtivo. Muitas vezes, o tempo que deveria estar trabalhando é gasto nas redes sociais. Assim, ele desenvolve um comportamento vicioso, que foge do seu controle.<br><br>
                        - Olhar o perfil de gente desconhecida: é comum quem pratica o stalking passar horas olhando o perfil de gente que nem conhece. Entra na página de amigos do amigo, vai no perfil de alguém que deu um like ou comentou determinada foto do crush, etc. </p>

                        <h4 class="col-11">As consequências de stalkear nas redes sociais</h4>
                        <p class="col-11">Stalkear a vida das outras pessoas nas redes sociais pode ter muitas consequências negativas. Pesquisas mostram que as pessoas que navegam nos perfis dos seus amigos e não publicam nada nos seus sofrem uma diminuição no seu bem-estar. Ainda de acordo com esses estudos, mais de um terço dos usuários do Facebook disseram abandonar a página se sentindo pior do que quando entraram. E quanto mais tempo uma pessoa passa no perfil do Instagram do seu ex, maior o sofrimento. </p> 
                        <p class="col-11">Além disso, stalkear traz enormes prejuízos para a vida social e laboral do indivíduo. Normalmente o stalker se afasta dos amigos, deixa de praticar esportes e tem uma queda no rendimento no trabalho ou nos estudos. </p>
                        <p class="col-11">A pessoa que passa horas espionando a vida dos outros na internet também tem a sua saúde mental afetada porque esse hábito costuma se converter em um vício, podendo desencadear problemas como ansiedade e depressão. </p>

                        <a href="/artigos/0" class="voltar col-12 text-center">VOLTAR PARA ARTIGOS</a>
                    </div>
                </div>
            </div>

            
            </div>
        </section>

    </main>

    <footer class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <p>Rua Coronel Agenor de Camargo, 81 - 09020-220<br> 
                    Centro - Santo André, SP<br> 
                    (11) 98492-0089<br>                    
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <p><small>Copyright &copy; 2021 Carolina Ramos Bertolino</small></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>