<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/artigos.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/favicon.ico')}}" type="image/x-icon">
    <title>Por que tenho tanto medo de acabar sozinha? | Carolina Ramos Bertolino</title>
</head>
<body>


    <!-- MENU -->
    <header class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-4 col-sm-3 col-lg-2 col-xl-1">
                        <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="Carolina Ramos Bertolino Logo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>
        <!-- SOBRE A PSICÓLOGA -->
        <section class="container-fluid artigo-conteudo">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-6 artigo">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="row justify-content-center">
                                <img src="{{url_for('static', filename='imgs/artigo5.jpg')}}" alt="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="col-11 text-center">Por que tenho tanto medo de acabar sozinha?</h3>
                        <p class="col-11">Encontrar o parceiro ideal não é tão simples como vemos nas comédias românticas. Às vezes, nos apaixonamos e a outra pessoa não sente o mesmo. Às vezes começamos uma relação e com o tempo notamos que as incompatibilidades são maiores que o amor. Outras vezes, seguimos em um relacionamento infeliz durante anos por medo de ficar só. </p>
                        <p class="col-11">Ou seja, quando falamos de amor, nada é simples. Mesmo sabendo disso, muitas pessoas têm um medo enorme de terminar sozinha. </p>

                        <h4 class="col-11">Por que tenho medo de não encontrar um parceiro?</h4>
                        <p class="col-11">Estar em um relacionamento não é indispensável para ser feliz. Há pessoas solteiras que estão contentes e realizadas. No entanto, ainda existe muita gente que não vê a solteirice com bons olhos e isso acaba criando uma pressão social naqueles que não estão em uma relação estável.</p>
                        <p class="col-11">Desde pequenos fomos educados para acreditar que uma vida plena só é alcançada quando casamos e temos filhos. Logo, estar solteiro pode ser sinônimo de enorme fracasso, principalmente para as mulheres. Ainda hoje, quando elas optam por não casar, têm que dar justificativas e são cruelmente etiquetadas de solteironas.</p>
                        <p class="col-11">No caso das mulheres, a partir dos 30 anos esse medo pode ser ainda mais intenso proque é quando o entorno social passa a cobrá-la para ser mãe. E a maioria das mulheres deseja estar em uma relação estável antes de ter um filho. </p>
                        <p class="col-11">Quando o medo de não encontrar um companheiro é muito grande, a pessoa pode desenvolver uma fobia chamada anuptofobia. A aunptofobia é um medo irracional e grande de ficar solteiro. Quem sofre do transtorno pode manter relações tóxicas e infelizes simplesmente porque não suportam a ideia de não ser um casal.</p>

                        <h4 class="col-11">Por que a obsessão para ter um parceiro é perigosa?</h4>
                        <p class="col-11">Quando estamos solteiros e desejamos muito estar em um relacionamento, é provável que a gente não selecione bem e se envolva com a primeira pessoa que aparece. No entanto, na maioria das vezes, essa pessoa não é adequada, o que aumenta as chances de decepção. </p>
                        <p class="col-11">Além disso, o medo de ficar solteiro já nos coloca em uma posição de inferioridade em relação ao outro. Isso pode gerar uma enorme dependência emocional que é altamente tóxica. Muitas pessoas ficam em relações infelizes e abusivas por medo da solidão. </p>
                        <p class="col-11">A maioria das pessoas deseja encontrar alguém para compartilhar a vida. No fim, ninguém quer estar só, mas o mais curioso é que a vida de casal não é garantia de nada. Muitas pessoas estão em um relacionamento  e se sentem extremamente solitárias. </p>

                        <h4 class="col-11">O que fazer se você tem medo de acabar sozinha</h4>
                        <p class="col-11">Melhorar suas relações sociais: estar solteira é uma excelente oportunidade para se conectar de uma forma profunda com as outras pessoas. Você pode ver com mais frequência os seus amigos e familiares e aproveitar para conhecer gente nova e interessante.</p>
                        <p class="col-11">Não prever o futuro: não deixe que a ansiedade domine você e não fique tentando prever o futuro. O fato de estar solteira hoje não significa que será assim sempre. Logo, viva o presente. Se estiver mais relaxada, com certeza as outras pessoas notarão e isso aumentará o seu poder de sedução.</p>
                        <p class="col-11">Paquerar: esteja aberta a sair com gente nova, inclusive com aqueles pretendentes que não parecem encaixar exatamente no seu ideal. Muitos relacionamentos felizes não nascem de um amor à primeira vista. </p>
                        <p class="col-11">Não ceder a nenhuma pressão social: não compre a ideia de que só tem valor quem está em uma relação. Cada pessoa é única, cada um tem necessidades próprias e tudo chega no seu devido tempo.</p>
                        <p class="col-11">Deixar de acreditar que encontrar um amor solucionará todos os seu problemas: não há nada de errado em querer estar em um relacionamento. Estar com a pessoa certa, torna a vida melhor, mais emocionante e feliz. O problema é querer desesperadamente estar com alguém para preencher algum vazio ou carência afetiva. Tenha em mente que nenhuma relação resolve a vida de ninguém. Cada um é responsável pela própria felicidade. </p>

                        <a href="/artigos/0" class="voltar col-12 text-center">VOLTAR PARA ARTIGOS</a>
                    </div>
                </div>
            </div>

            
            </div>
        </section>

    </main>

    <footer class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <p>Rua Coronel Agenor de Camargo, 81 - 09020-220<br> 
                    Centro - Santo André, SP<br> 
                    (11) 98492-0089<br>                    
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <p><small>Copyright &copy; 2021 Carolina Ramos Bertolino</small></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>